import { getPageList,saveInfo,getInfoById,editInfo,deleteByIds } from '@/services/${moduleName}/${pathName}';
import { message } from 'antd';

export default {
    namespace: '${pathName}',
    state: {
        ${pathName}List: {
            list: [],
            pagination: {
                current: 1,
                total: 0,
                pageSize: 1,
            },
        },
        ${pathName}Info:{}
    },

    effects: {
        // 获取${comments}list
        *getPageList({ payload }, { call, put }) {
            const result = yield call(getPageList, payload);
            if(result.code===0){
                yield put({
                    type: 'updateList',
                    payload: {
                        list: result.data.list,
                        pagination: { current: result.data.currPage, total: result.data.totalCount, pageSize: result.data.pageSize },
                    },
                });
            }else{
                message.error(result.msg);
            }
        },
        //新增${comments}信息
        *saveInfo({ payload }, { call, put }){
            const result = yield call(saveInfo, payload);
            if(result.code===0){
                message.success("新增成功！！");
            }else{
                message.error(result.msg);
            }
            return result;
        },
        //修改${comments}信息
        *editInfo({ payload }, { call, put }){
            const result = yield call(editInfo, payload);
            if(result.code===0){
                message.success("修改成功！！");
            }else{
                message.error(result.msg);
            }
            return result;
        },
        *deleteByIds({ payload }, { call, put }){
            const result = yield call(deleteByIds, payload);
            if(result.code===0){
                message.success("删除成功！！");
            }else{
                message.error(result.msg);
            }
            return result;
        },
        *getInfoById({ payload }, { call, put }){
            const result = yield call(getInfoById, payload);
            if(result.code===0){
                yield put({
                    type: 'setInfo',
                    payload: result.data
                });
            }else{
                message.error(result.msg);
            }
        }
    },

    reducers: {
        updateList(state, { payload }) {
            return { ...state, ${pathName}List: payload };
        },
        setInfo(state, { payload }){
            return { ...state, ${pathName}Info: payload?payload:{}};
        }
    },
};
